{% extends 'root::layouts/inner.twig' %}

{% set section = global.article %}

{% block page %}
    <div class="article">
        <div class="article__main">
            {% if section.banner %}
                <div class="article__banner">
                    <img src="{{ section.banner.path }}" alt="{{ section.banner.title ?: section.title }}" />
                </div>
            {% endif %}
            <div class="article__content">
                {{ section.content }}
            </div>
        </div>
        <aside class="article__sidebar">
            <div class="article__bring">
                <h4 class="article__subtitle">Bring your ideas to live in minutes.</h4>
                <a href="#" class="btn btn--primary">Design Now</a>
                <img src="/images/bring-bg.png" alt="Templates" />
            </div>
            {% if section.tags|length %}
                <div class="article__tags">
                    {% for tag in section.tags %}
                        <span>{{ tag }}</span>
                    {% endfor %}
                </div>
            {% endif %}
            <div>
                <div class="article__socials">
                    <a href="#" title="Copy link">
                        <svg class="icon icon--size-32" aria-hidden="true">
                            <use xlink:href="/images/sprite.svg#link"></use>
                        </svg>
                    </a>
                    <a href="#" title="Facebook">
                        <svg class="icon icon--size-32" aria-hidden="true">
                            <use xlink:href="/images/sprite.svg#facebook"></use>
                        </svg>
                    </a>
                    <a href="#" title="X">
                        <svg class="icon icon--size-32" aria-hidden="true">
                            <use xlink:href="/images/sprite.svg#x"></use>
                        </svg>
                    </a>
                    <a href="#" title="Linkedin">
                        <svg class="icon icon--size-32" aria-hidden="true">
                            <use xlink:href="/images/sprite.svg#linkedin"></use>
                        </svg>
                    </a>
                    <a href="#" title="Pinterest">
                        <svg class="icon icon--size-32" aria-hidden="true">
                            <use xlink:href="/images/sprite.svg#pinterest"></use>
                        </svg>
                    </a>
                    <a href="#" title="WhatsApp">
                        <svg class="icon icon--size-32" aria-hidden="true">
                            <use xlink:href="/images/sprite.svg#whatsapp"></use>
                        </svg>
                    </a>
                    <a href="#" title="Telegram">
                        <svg class="icon icon--size-32" aria-hidden="true">
                            <use xlink:href="/images/sprite.svg#telegram"></use>
                        </svg>
                    </a>
                </div>
                <form class="article__subscribe">
                    <h4 class="article__subtitle">Stay Informed with Weekly News & Insights</h4>
                    <div class="input-group">
                        <input type="email" placeholder="Your e-mail" />
                        <button class="btn btn--primary">
                            <svg class="icon btn_icon" aria-hidden="true">
                                <use xlink:href="/images/sprite.svg#envelope"></use>
                            </svg> Subscribe
                        </button>
                    </div>
                    {#<div class="alert">Successfully completed</div>#}
                </form>
            </div>
        </aside>
        {% if section.related|length %}
            <section class="articles article_articles">
                <div class="articles__header">
                    <h2 class="articles__title">Related articles:</h2>
                    <a href="/blog.html">See more</a>
                </div>
                <div class="articles__items">
                    {% for item in section.related %}
                        <article class="article-short">
                            <a href="{{ item.link }}" class="article-short__poster">
                                <img
                                    src="{{ item.image.path }}" alt="{{ item.image.title ?: item.title }}"
                                />
                            </a>
                            <div class="article-short__categories">
                                <a href="#">Team</a>
                            </div>
                            <a href="{{ item.link }}" class="article-short__title">{{ item.title }}</a>
                        </article>
                    {% endfor %}
                </div>
            </section>
        {% endif %}
    </div>
{% endblock %}
