<header class="header">
    <div class="container">
        <div class="header__content">
            <div class="header__logotype">
                <a href="/">
                    <img src="images/logo.svg" alt="{{ global.app }} logotype" />
                </a>
            </div>
            <div data-menu="header" class="menu">
                <div data-menu-trigger="header" class="menu__overlay"></div>
                {#<button#}
                {#    data-menu-trigger="header"#}
                {#    class="btn btn--icon menu__trigger"#}
                {#    type="button"#}
                {#>#}
                {#    <svg class="icon" aria-hidden="true">#}
                {#        <use xlink:href="/images/sprite.svg#cross"></use>#}
                {#    </svg>#}
                {#</button>#}

                <div class="menu__content">
                    <ul>
                        {% for item in global.menuHeader %}
                            {% if item.items|length %}
                                <li class="menu__item">
                                    <div class="dropdown menu_dropdown" data-dropdown>
                                        <button class="btn btn--text menu__link dropdown__trigger" type="button">
                                            {{ item.label }}
                                            <svg class="icon icon--size-12 dropdown_icon" aria-hidden="true">
                                                <use xlink:href="/images/sprite.svg#chevron_down"></use>
                                            </svg>
                                        </button>
                                        <div class="dropdown__content">
                                            <div class="container">
                                                <div class="dropdown__create">
                                                    {% for subitem in item.items %}
                                                        <a href="{{ subitem.link }}" target="_blank">
                                                            {% if subitem.image %}
                                                                <img src="{{ subitem.image.path }}" alt="{{ subitem.label }}">
                                                            {% endif %}
                                                            <span>{{ subitem.label }}</span>
                                                        </a>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% else %}
                                <li class="menu__item">
                                    <a class="btn btn--text menu__link" href="{{ item.link }}">{{ item.label }}</a>
                                </li>
                            {% endif %}
                        {%  endfor %}
                    </ul>
                    <div class="menu__footer">
                        <a href="#" class="btn btn--primary">
                            Start Creating Now
                        </a>
                    </div>
                </div>
            </div>
            <div class="header__actions">
                <a href="#" class="btn btn--primary">
                    Start Creating Now
                </a>
            </div>
            <div class="header__menu-trigger">
                <button
                    data-menu-trigger="header"
                    class="btn btn--icon"
                    type="button"
                >
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="/images/sprite.svg#menu"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</header>
