{% set section = global.sections.advantages %}

<section class="advantages">
    <div class="container">
        {% if section.title %}
            <h2 class="advantages__title">{{ section.title }}</h2>
        {% endif %}
        {% if section.tabs|length %}
            <div class="tabs advantages_tabs" data-tabs="advantages">
                {% for tab in section.tabs %}
                    <button class="tabs__item {{ loop.first ? 'is-active' : '' }}" type="button">{{ tab.tab }}</button>
                {% endfor %}
            </div>
            <div class="tabs-content advantages_tabs-content" data-tabs-content="advantages">
                {% for tab in section.tabs %}
                    <div class="advantages__content {{ loop.first ? 'is-active' : '' }}">
                        <div>
                            {% if tab.title %}
                                <h3 class="advantages__subtitle">{{ tab.title }}</h3>
                            {% endif %}
                            {% if tab.content %}
                                <div class="paragraph advantages__description">
                                    <p>{{ tab.content }}</p>
                                </div>
                            {% endif %}
                            {% if tab.list|length %}
                                <ul class="advantages__list">
                                    {% for item in tab.list %}
                                        <li>
                                            {% if item.icon %}
                                                <svg class="icon advantages_icon" aria-hidden="true">
                                                    <use xlink:href="/images/sprite.svg#{{ item.icon }}"></use>
                                                </svg>
                                            {% endif %}
                                            <span>{{ item.title }}</span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                        {% if tab.image %}
                            <div>
                                <img
                                    class="advantages__poster"
                                    src="{{ tab.image.path }}"
                                    alt="{{ tab.image.title ?? tab.title }}"
                                />
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</section>
