{% set section = global.sections.articles %}

<section class="articles">
    <div class="container">
        {% if section.title %}
            <h2 class="articles__title">{{ section.title }}</h2>
        {% endif %}
        {% if global.articles|length %}
            <div class="articles__items">
                {% for item in global.articles|slice(0, 3) %}
                    <article class="article-short">
                        <a href="{{ item.link }}" class="article-short__poster">
                            <img
                                src="{{ item.image.path }}" alt="{{ item.image.title ?? item.title }}"
                            />
                        </a>
                        <div class="article-short__categories">
                            <a href="#">Team</a>
                        </div>
                        <a href="{{ item.link }}" class="article-short__title">{{ item.title }}</a>
                    </article>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</section>
