<section class="cols {{ data.position ? 'cols--' ~ data.position : '' }}">
    <div class="container">
        <div class="cols__content">
            <div class="cols__text">
                {% if data.title %}
                    <h2 class="cols__title">{{ data.title }}</h2>
                {% endif %}
                {% if data.description %}
                    <div class="paragraph cols__description">
                        <p>{{ data.description }}</p>
                    </div>
                {% endif %}
                {% if data.advantages|length %}
                    <div class="cols__advantages">
                        {% for item in data.advantages %}
                            <div class="advantage">
                                <h3 class="advantage__title">{{ item.title }}</h3>
                                <div class="advantage__description">{{ item.description }}</div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if data.actions|length %}
                    <div class="cols__actions">
                        {% for action in data.actions %}
                            {% if action.openContacts %}
                                    <button
                                        class="btn btn--{{ action.style }}"
                                        type="button"
                                        data-micromodal-trigger="contactForm"
                                    >
                                        {{ action.label }}
                                    </button>
                                {% else %}
                                    <a href="{{ action.link }}" class="btn btn--{{ action.style }}">{{ action.label }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="cols__image">
                {% if data.image %}
                    <img src="{{ data.image.path }}" alt="{{ data.image.title ?? data.title }}">
                {% endif %}
            </div>
        </div>
    </div>
</section>
