{% set section = global.sections.hero %}

<section class="hero">
    <div class="container">
        {% if section.title %}
            <h1 class="hero__title">{{ section.title }}</h1>
        {% endif %}
        {% if section.description %}
            <div class="paragraph hero__paragraph">
                <p>{{ section.description }}</p>
            </div>
        {% endif %}
        {% if section.actions|length %}
            <div class="hero__actions">
                {% for action in section.actions %}
                    <a href="{{ action.link }}" class="btn btn--{{ action.style }}">{{ action.label }}</a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="hero__images">
        <svg class="hero__mockup" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 840 480">
            <foreignObject x="0" y="0" width="100%" height="100%">
                <body xmlns="http://www.w3.org/1999/xhtml">
                    <img src="images/hero-main.png" alt="Main" />
                    <img src="images/hero-header.png" alt="Header" />
                    <img src="images/hero-sidebar-left.png" alt="Sidebar left" />
                    <img src="images/hero-sidebar-right.png" alt="Sidebar right" />
                    <img src="images/hero-template.png" alt="Template" />
                </body>
            </foreignObject>
        </svg>
    </div>
    <div class="container">
        {% if section.logosDescription %}
            <div class="paragraph">
                <p>{{ section.logosDescription }}</p>
            </div>
        {% endif %}
        {% if section.logos|length %}
            <div class="hero__logos">
                {% for logo in section.logos %}
                    <img src="{{ logo.path }}" alt="Logo placeholder" />
                {% endfor %}
            </div>
        {% endif %}
    </div>
</section>
