<section class="hero hero--features">
    <div class="container">
        {% if data.title %}
            <h1 class="hero__title">{{ data.title }}</h1>
        {% endif %}
        {% if data.description %}
            <div class="paragraph hero__paragraph">
                <p>{{ data.description }}</p>
            </div>
        {% endif %}
        {% if data.actions|length %}
            <div class="hero__actions">
                {% for action in data.actions %}
                    <a href="{{ action.link }}" class="btn btn--{{ action.style }}">{{ action.label }}</a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</section>
