{% set section = data %}

<section class="review">
    <div class="container">
        <div class="review__content">
            {% if section.avatar.path %}
                <img
                    src="{{ section.avatar.path }}"
                    alt="{{ section.avatar.title ?? section.author }}"
                />
            {% endif %}
            <div>
                {% if section.logo %}
                    <img
                        src="{{ section.logo.path }}"
                        alt="{{ section.logo.title ?? section.author }}"
                        height="25"
                    />
                {% endif %}
                {% if section.content %}
                    <div class="paragraph review__description">
                        <p>{{ section.content }}</p>
                    </div>
                {% endif %}
                {% if section.author %}
                    <h2 class="review__author">{{ section.author }}</h2>
                {% endif %}
                {% if section.role %}
                    <div class="review__role">{{ section.role }}</div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
