<section class="review">
    <div class="container">
        <div class="review__content">
            {% if data.avatar.path %}
                <img
                    src="{{ data.avatar.path }}"
                    alt="{{ data.avatar.title ?? data.author }}"
                />
            {% endif %}
            <div>
                {% if data.logo %}
                    <img
                        src="{{ data.logo.path }}"
                        alt="{{ data.logo.title ?? data.author }}"
                        height="25"
                    />
                {% endif %}
                {% if data.content %}
                    <div class="paragraph review__description">
                        <p>{{ data.content }}</p>
                    </div>
                {% endif %}
                {% if data.author %}
                    <h2 class="review__author">{{ data.author }}</h2>
                {% endif %}
                {% if data.role %}
                    <div class="review__role">{{ data.role }}</div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
