<section class="templates">
    <div class="container">
        {% if data.title %}
            <h2 class="templates__title">{{ data.title }}</h2>
        {% endif %}
        {% if data.tags|length %}
            <ul class="templates__tags">
                {% for tag in data.tags %}
                    <li>{{ tag }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="templates__list">
            {% for template in data.list %}
                <div class="templates__item">
                    <img src="{{ template.image.path }}" alt="{{ template.image.title }}" />
                    <a class="btn btn--primary" href="{{ template.link }}" target="_blank">
                        <svg class="icon icon--size-20 btn_icon" aria-hidden="true">
                            <use xlink:href="/images/sprite.svg#pencil"></use>
                        </svg>
                        Edit
                    </a>
                </div>
            {% endfor %}
        </div>
        {% for btn in data.actions %}
            <a href="{{ btn.link }}" class="btn btn--{{ btn.style }}" target="_blank">{{ btn.label }}</a>
        {% endfor %}
    </div>
</section>
